In [1]:
import pandas as pd
import os
import numpy as np

# Concatenate all TMDB data

In [2]:
files = os.listdir('../data/')
tmdb_data = []
for f in files:
    if 'tmdb-movies' in f:
        im = pd.read_csv('../data/' + str(f))
        print 'file', f, ', num movies', im.shape[0]
        tmdb_data.append(im)
tmdb_data_df = pd.concat(tmdb_data, axis=0)

file tmdb-movies-1-to-400.csv , num movies 8000
file tmdb-movies-801-to-1000.csv , num movies 4000

In [3]:
tmdb_data_df.head(2)

,id,genre_ids,poster_path,title,overview,release_date,popularity,original_title,backdrop_path,keywords,vote_count,video,adult,vote_average,original_language
0,295693,"[16, 10751, 35]",/67NXPYvK92oQgEQvLppF2Siol9q.jpg,The Boss Baby,A story about how a new baby's arrival impacts...,2017-03-23,197.039794,The Boss Baby,/bTFeSwh07oX99ofpDI4O2WkiFJ.jpg,"family relationships,unreliable narrator,3d",354,False,False,5.8,en
1,321612,"[14, 10402, 10749]",/tWqifoYuwLETmmasnGHO7xBjEtt.jpg,Beauty and the Beast,A live-action adaptation of Disney's version o...,2017-03-16,175.232751,Beauty and the Beast,/6aUWe0GSl69wMTSWWexsorMIvwU.jpg,"france,magic,castle,fairy tale,musical,curse,c...",1558,False,False,6.9,en

# Concatenate all IMDB data

In [4]:
files = os.listdir('../data/')
imdb_data = []
for f in files:
    if 'imdb-features' in f:
        im = pd.read_csv('../data/' + str(f))
        print 'file', f, ', num movies', im.shape[0]
        imdb_data.append(im)
imdb_data_df = pd.concat(imdb_data, axis=0)

file imdb-features-1-to-400.csv-1000 , num movies 375
file imdb-features-1-to-400.csv-1500 , num movies 100
file imdb-features-1-to-400.csv-2000 , num movies 83
file imdb-features-1-to-400.csv-2500 , num movies 319
file imdb-features-1-to-400.csv-3000 , num movies 325
file imdb-features-1-to-400.csv-3500 , num movies 298
file imdb-features-1-to-400.csv-4000 , num movies 308
file imdb-features-1-to-400.csv-4500 , num movies 294
file imdb-features-1-to-400.csv-500 , num movies 394
file imdb-features-1-to-400.csv-5000 , num movies 276
file imdb-features-1-to-400.csv-5500 , num movies 277
file imdb-features-1-to-400.csv-6000 , num movies 273
file imdb-features-1-to-400.csv-6500 , num movies 276
file imdb-features-1-to-400.csv-7000 , num movies 233
file imdb-features-1-to-400.csv-7500 , num movies 240
file imdb-features-801-to-1000.csv-1000 , num movies 132
file imdb-features-801-to-1000.csv-1500 , num movies 132
file imdb-features-801-to-1000.csv-2000 , num movies 119
file imdb-features-801-to-1000.csv-2500 , num movies 112
file imdb-features-801-to-1000.csv-3000 , num movies 120
file imdb-features-801-to-1000.csv-3500 , num movies 107
file imdb-features-801-to-1000.csv-500 , num movies 9

In [5]:
imdb_data_df.shape

(4802, 6)

In [6]:
imdb_data_df.head()

     imdb_id          director  imdb_votes certificate  num_stunts  num_fx
0  1712261.0     John Hillcoat       46924          15          55       9
1   462590.0     Anne Fletcher       95357          PG           4       3
2    56869.0  Alfred Hitchcock      136048       PG-13           3       6
3  2334879.0   Roland Emmerich      172268         12A         105      43
4   426883.0   Nick Cassavetes       90163          15          19       4

# Read in imdb - tmdb ids

In [7]:
files = os.listdir('../data/')
imdb_tmdb_ids = []
for f in files:
    if 'imdb-ids' in f:
        im = pd.read_csv('../data/' + str(f))
        print 'file', f, ', num ids', im.shape[0]
        imdb_tmdb_ids.append(im)
imdb_tmdb_ids_df = pd.concat(imdb_tmdb_ids, axis=0)

file imdb-ids-1-to-400.csv , num ids 7979
file imdb-ids-801-to-1000.csv , num ids 3974

In [8]:
imdb_tmdb_ids_df.shape

(11953, 2)

In [9]:
np.sum(pd.isnull(imdb_tmdb_ids_df))

id           0
imdb_id    191
dtype: int64

# Join tmdb data with tmdb-imdb id mapping

In [10]:
tmdb_data_imdb_key = tmdb_data_df.merge(imdb_tmdb_ids_df, on='id', how='left')

In [11]:
tmdb_data_imdb_key.head(2)

,id,genre_ids,poster_path,title,overview,release_date,popularity,original_title,backdrop_path,keywords,vote_count,video,adult,vote_average,original_language,imdb_id
0,295693,"[16, 10751, 35]",/67NXPYvK92oQgEQvLppF2Siol9q.jpg,The Boss Baby,A story about how a new baby's arrival impacts...,2017-03-23,197.039794,The Boss Baby,/bTFeSwh07oX99ofpDI4O2WkiFJ.jpg,"family relationships,unreliable narrator,3d",354,False,False,5.8,en,3.87454e+06
1,321612,"[14, 10402, 10749]",/tWqifoYuwLETmmasnGHO7xBjEtt.jpg,Beauty and the Beast,A live-action adaptation of Disney's version o...,2017-03-16,175.232751,Beauty and the Beast,/6aUWe0GSl69wMTSWWexsorMIvwU.jpg,"france,magic,castle,fairy tale,musical,curse,c...",1558,False,False,6.9,en,2.7712e+06

In [12]:
np.sum(pd.isnull(tmdb_data_imdb_key))

id                      0
genre_ids               0
poster_path           160
title                   0
overview              218
release_date           36
popularity              0
original_title          0
backdrop_path         761
keywords             2128
vote_count              0
video                   0
adult                   0
vote_average            0
original_language       0
imdb_id               240
dtype: int64

In [13]:
np.unique(tmdb_data_imdb_key['poster_path'], return_counts=True)

//anaconda/lib/python2.7/site-packages/numpy/lib/arraysetops.py:216: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))

(array([nan, '/103KNOz11U4iojwW6F1rOKKZIDp.jpg',
        '/107LxWmMYCh01Y7dYsWop7vBnx4.jpg', ...,
        '/zzQ2RctWc7JzmTgpuIDPgF6Fdmn.jpg',
        '/zzUwC5DUBd62kg1EF1Rf3TGqSVx.jpg',
        '/zzqnMAjkcC9O9gemN2Akz7L0zra.jpg'], dtype=object),
 array([160,   1,   1, ...,   1,   1,   1]))

# Join tmdb data imdb features based on imdb id

In [22]:
tmdb_data_imdb_features = tmdb_data_imdb_key.merge(imdb_data_df, on='imdb_id', how='outer')

In [23]:
tmdb_data_imdb_features.head(2)

,id,genre_ids,poster_path,title,overview,release_date,popularity,original_title,backdrop_path,keywords,...,video,adult,vote_average,original_language,imdb_id,director,imdb_votes,certificate,num_stunts,num_fx
0,295693.0,"[16, 10751, 35]",/67NXPYvK92oQgEQvLppF2Siol9q.jpg,The Boss Baby,A story about how a new baby's arrival impacts...,2017-03-23,197.039794,The Boss Baby,/bTFeSwh07oX99ofpDI4O2WkiFJ.jpg,"family relationships,unreliable narrator,3d",...,False,False,5.8,en,3.87454e+06,NaN,NaN,NaN,NaN,NaN
1,321612.0,"[14, 10402, 10749]",/tWqifoYuwLETmmasnGHO7xBjEtt.jpg,Beauty and the Beast,A live-action adaptation of Disney's version o...,2017-03-16,175.232751,Beauty and the Beast,/6aUWe0GSl69wMTSWWexsorMIvwU.jpg,"france,magic,castle,fairy tale,musical,curse,c...",...,False,False,6.9,en,2.7712e+06,NaN,NaN,NaN,NaN,NaN

In [16]:
directors, counts = np.unique(tmdb_data_imdb_features['director'], return_counts=True)

In [17]:
tmdb_data_imdb_features.shape

(12230, 21)

In [18]:
tmdb_data_imdb_features_nona = tmdb_data_imdb_features.dropna()

In [19]:
tmdb_data_imdb_features_nona.shape

(3876, 21)

In [20]:
tmdb_data_imdb_features_nona.head()

,id,genre_ids,poster_path,title,overview,release_date,popularity,original_title,backdrop_path,keywords,...,video,adult,vote_average,original_language,imdb_id,director,imdb_votes,certificate,num_stunts,num_fx
500,180,"[28, 53, 878, 9648]",/h3lpltSn7Rj1eYTPQO1lYGdw4Bz.jpg,Minority Report,John Anderton is a top 'Precrime' cop in the l...,2002-06-20,4.023489,Minority Report,/pG39VS7fFLk2crzq57RkqDfUSk0.jpg,"self-fulfilling prophecy,evidence,hologram,dys...",...,False,False,7.0,en,181689,Steven Spielberg,418905.0,12,88.0,49.0
501,74,"[12, 53, 878]",/xXMM9KY2eq1SDOQif9zO91YOBA8.jpg,War of the Worlds,Ray Ferrier is a divorced dockworker and less-...,2005-06-23,4.022906,War of the Worlds,/bwTb66gicrB7HbkogwNs9V37Ddb.jpg,"post traumatic stress disorder,new jersey,air...",...,False,False,6.1,en,407304,Steven Spielberg,349381.0,12A,94.0,90.0
503,840,"[878, 18]",/mABOVIUl5lB0WF4HG28rfamgxG1.jpg,Close Encounters of the Third Kind,"After an encounter with UFOs, a line worker fe...",1977-11-16,4.018199,Close Encounters of the Third Kind,/xATZyEpnZ0Z0iO9z5K8RZsraGKI.jpg,"indiana,obsession,extraterrestrial technology,...",...,False,False,7.2,en,75860,Steven Spielberg,146265.0,TV-MA,10.0,8.0
504,44115,"[12, 18, 53]",/c6Nu7UjhGCQtV16WXabqOQfikK6.jpg,127 Hours,127 Hours is the true story of mountain climbe...,2010-11-05,4.017993,127 Hours,/eHUoB8NbvrvKp7KQMNgvc7yLpzM.jpg,"mountains,despair,adventure,utah,alone,canyon,...",...,False,False,6.9,en,1.54234e+06,Danny Boyle,292099.0,15,11.0,6.0
505,242512,[27],/vHTXN00kJktCbSLV50Vbk9siNiX.jpg,Ouija,A group of friends must confront their most te...,2014-10-24,4.014788,Ouija,/9bHoFTTFacsReoDJRBlIx7V98TC.jpg,"death of a friend,swimming pool,ouija,ouija bo...",...,False,False,4.9,en,1.20498e+06,Stiles White,37043.0,15,20.0,4.0

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer
y = [[2, 3, 4], [2], [0, 1, 3], [0, 1, 2, 3, 4], [0, 1, 2]]
MultiLabelBinarizer().fit_transform(y)