In [122]:
import pandas as pd
import os
import numpy as np

# Concatenate all TMDB data

In [123]:
files = os.listdir('./all-data/')
tmdb_data = []
for f in files:
    if 'tmdb-movies' in f:
        im = pd.read_csv('./all-data/' + str(f))
        print 'file', f, ', num movies', im.shape[0]
        tmdb_data.append(im)
tmdb_data_df = pd.concat(tmdb_data, axis=0)

file tmdb-movies-1-to-400.csv , num movies 8000
file tmdb-movies-801-to-1000.csv , num movies 4000

In [124]:
tmdb_data_df.head(2)

,id,genre_ids,poster_path,title,overview,release_date,popularity,original_title,backdrop_path,keywords,vote_count,video,adult,vote_average,original_language
0,295693,"[16, 10751, 35]",/67NXPYvK92oQgEQvLppF2Siol9q.jpg,The Boss Baby,A story about how a new baby's arrival impacts...,2017-03-23,197.039794,The Boss Baby,/bTFeSwh07oX99ofpDI4O2WkiFJ.jpg,"family relationships,unreliable narrator,3d",354,False,False,5.8,en
1,321612,"[14, 10402, 10749]",/tWqifoYuwLETmmasnGHO7xBjEtt.jpg,Beauty and the Beast,A live-action adaptation of Disney's version o...,2017-03-16,175.232751,Beauty and the Beast,/6aUWe0GSl69wMTSWWexsorMIvwU.jpg,"france,magic,castle,fairy tale,musical,curse,c...",1558,False,False,6.9,en

# Concatenate all IMDB data

In [125]:
files = os.listdir('./all-data/')
imdb_data = []
for f in files:
    if 'imdb-features' in f:
        im = pd.read_csv('./all-data/' + str(f))
        print 'file', f, ', num movies', im.shape[0]
        imdb_data.append(im)
imdb_data_df = pd.concat(imdb_data, axis=0)

file imdb-features-1-to-400.csv-1000 , num movies 375
file imdb-features-1-to-400.csv-1500 , num movies 100
file imdb-features-1-to-400.csv-2000 , num movies 83
file imdb-features-1-to-400.csv-2500 , num movies 319
file imdb-features-1-to-400.csv-3000 , num movies 325
file imdb-features-1-to-400.csv-3500 , num movies 298
file imdb-features-1-to-400.csv-4000 , num movies 308
file imdb-features-1-to-400.csv-4500 , num movies 294
file imdb-features-1-to-400.csv-500 , num movies 394
file imdb-features-1-to-400.csv-5000 , num movies 276
file imdb-features-1-to-400.csv-5500 , num movies 277
file imdb-features-1-to-400.csv-6000 , num movies 273
file imdb-features-1-to-400.csv-6500 , num movies 276
file imdb-features-1-to-400.csv-7000 , num movies 233
file imdb-features-1-to-400.csv-7500 , num movies 240
file imdb-features-801-to-1000.csv-1000 , num movies 132
file imdb-features-801-to-1000.csv-1500 , num movies 132
file imdb-features-801-to-1000.csv-2000 , num movies 119
file imdb-features-801-to-1000.csv-2500 , num movies 112
file imdb-features-801-to-1000.csv-3000 , num movies 120
file imdb-features-801-to-1000.csv-3500 , num movies 107
file imdb-features-801-to-1000.csv-500 , num movies 9

In [126]:
imdb_data_df.shape

(4802, 6)

In [127]:
imdb_data_df.head()

     imdb_id          director  imdb_votes certificate  num_stunts  num_fx
0  1712261.0     John Hillcoat       46924          15          55       9
1   462590.0     Anne Fletcher       95357          PG           4       3
2    56869.0  Alfred Hitchcock      136048       PG-13           3       6
3  2334879.0   Roland Emmerich      172268         12A         105      43
4   426883.0   Nick Cassavetes       90163          15          19       4

# Read in imdb - tmdb ids

In [128]:
files = os.listdir('./all-data/')
imdb_tmdb_ids = []
for f in files:
    if 'imdb-ids' in f:
        im = pd.read_csv('./all-data/' + str(f))
        print 'file', f, ', num ids', im.shape[0]
        imdb_tmdb_ids.append(im)
imdb_tmdb_ids_df = pd.concat(imdb_tmdb_ids, axis=0)

file imdb-ids-1-to-400.csv , num ids 7979
file imdb-ids-801-to-1000.csv , num ids 3974

In [129]:
imdb_tmdb_ids_df.shape

(11953, 2)

In [130]:
np.sum(pd.isnull(imdb_tmdb_ids_df))

id           0
imdb_id    191
dtype: int64

# Join tmdb data with tmdb-imdb id mapping

In [143]:
tmdb_data_imdb_key = tmdb_data_df.merge(imdb_tmdb_ids_df, on='id', how='left')

In [144]:
tmdb_data_imdb_key.head(2)

,id,genre_ids,poster_path,title,overview,release_date,popularity,original_title,backdrop_path,keywords,vote_count,video,adult,vote_average,original_language,imdb_id
0,295693,"[16, 10751, 35]",/67NXPYvK92oQgEQvLppF2Siol9q.jpg,The Boss Baby,A story about how a new baby's arrival impacts...,2017-03-23,197.039794,The Boss Baby,/bTFeSwh07oX99ofpDI4O2WkiFJ.jpg,"family relationships,unreliable narrator,3d",354,False,False,5.8,en,3.87454e+06
1,321612,"[14, 10402, 10749]",/tWqifoYuwLETmmasnGHO7xBjEtt.jpg,Beauty and the Beast,A live-action adaptation of Disney's version o...,2017-03-16,175.232751,Beauty and the Beast,/6aUWe0GSl69wMTSWWexsorMIvwU.jpg,"france,magic,castle,fairy tale,musical,curse,c...",1558,False,False,6.9,en,2.7712e+06

In [145]:
np.sum(pd.isnull(tmdb_data_imdb_key))

id                      0
genre_ids               0
poster_path           160
title                   0
overview              218
release_date           36
popularity              0
original_title          0
backdrop_path         761
keywords             2128
vote_count              0
video                   0
adult                   0
vote_average            0
original_language       0
imdb_id               240
dtype: int64

In [146]:
np.unique(tmdb_data_imdb_key['poster_path'], return_counts=True)

(array([nan, '/103KNOz11U4iojwW6F1rOKKZIDp.jpg',
        '/107LxWmMYCh01Y7dYsWop7vBnx4.jpg', ...,
        '/zzQ2RctWc7JzmTgpuIDPgF6Fdmn.jpg',
        '/zzUwC5DUBd62kg1EF1Rf3TGqSVx.jpg',
        '/zzqnMAjkcC9O9gemN2Akz7L0zra.jpg'], dtype=object),
 array([160,   1,   1, ...,   1,   1,   1]))

# Join tmdb data imdb features based on imdb id

In [147]:
tmdb_data_imdb_features = tmdb_data_imdb_key.merge(imdb_data_df, on='imdb_id', how='left')

In [148]:
tmdb_data_imdb_features.head(2)

,id,genre_ids,poster_path,title,overview,release_date,popularity,original_title,backdrop_path,keywords,...,video,adult,vote_average,original_language,imdb_id,director,imdb_votes,certificate,num_stunts,num_fx
0,295693,"[16, 10751, 35]",/67NXPYvK92oQgEQvLppF2Siol9q.jpg,The Boss Baby,A story about how a new baby's arrival impacts...,2017-03-23,197.039794,The Boss Baby,/bTFeSwh07oX99ofpDI4O2WkiFJ.jpg,"family relationships,unreliable narrator,3d",...,False,False,5.8,en,3.87454e+06,NaN,NaN,NaN,NaN,NaN
1,321612,"[14, 10402, 10749]",/tWqifoYuwLETmmasnGHO7xBjEtt.jpg,Beauty and the Beast,A live-action adaptation of Disney's version o...,2017-03-16,175.232751,Beauty and the Beast,/6aUWe0GSl69wMTSWWexsorMIvwU.jpg,"france,magic,castle,fairy tale,musical,curse,c...",...,False,False,6.9,en,2.7712e+06,NaN,NaN,NaN,NaN,NaN

In [149]:
directors, counts = np.unique(tmdb_data_imdb_features['director'], return_counts=True)

In [150]:
tmdb_data_imdb_features.shape

(12230, 21)

In [151]:
tmdb_data_imdb_features_nona = tmdb_data_imdb_features.dropna()

In [152]:
tmdb_data_imdb_features_nona.shape

(3876, 21)